@font-face
{
	font-family: News Cycle;
    src: url('fonts/NewsCycle-Regular.eot');
    src: local("News Cycle"), url('fonts/NewsCycle-Regular.ttf');
}

article, aside, figure, footer, header, hgroup, nav, section
{
	display:block;
}

body
{
	font: normal .85em arial, sans-serif;
  	background: #F5F5F5 url(../05_images/pattern.png);
  	color: #444;
  	padding-bottom: 40px;
}

p
{
	padding: 0 0 20px 0;
	line-height: 1.5em;
}

img
{
	border: 0;
	text-align: center;
}

h1
{
	font: normal 200% 'News Cycle', arial, sans-serif;
	color: #222;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	text-shadow: 1px 1px #FFF;
}

#main
{
	width: 400px;
	margin: 0 auto 0 auto;
	text-align: center;
}

#logo
{
	text-align: left;
	width: 400px;
	float: left;
	height: 100px;
	background: transparent;
	padding: auto;
}

#logo h1
{
	font: normal 330% 'News Cycle', arial, sans-serif;
	padding: 37px 0 0 0;
	color: #222;
	letter-spacing: -2px;
}

#logo h1 a
{
	color: #0072CC;
	text-decoration: none;
}

#logo h1 a:hover
{
	color: #999;
	text-decoration: none;
}

footer
{
	width: 400px;
	font: normal 100% 'News Cycle',  arial, sans-serif;
	height: auto;
  	padding: 8px 0 0 0;
  	text-align: center;
  	color: #222;
  	background: #D5D5D6;
  	border-radius: 40px;
}

footer p
{
  	padding: 0 0 10px 0;
}

footer a, footer a:hover
{
  	color: #222;
  	text-decoration: underline;
}

footer a:hover
{
  	color: #FFF;
  	text-decoration: none;
}